<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>streamURL</key>
		<string>http://daserste_live-lh.akamaihd.net/i/daserste_de@91204/master.m3u8</string>
		<key>title</key>
		<string>ARD</string>
		<key>programURL</key>
		<string>http://programm.ard.de/Programm/Sender?sender=28106</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://zdf1314-lh.akamaihd.net/i/de14_v1@392878/master.m3u8</string>
		<key>title</key>
		<string>ZDF</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=ZDF</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://rbb_live-lh.akamaihd.net/i/rbb_berlin@108248/master.m3u8</string>
		<key>title</key>
		<string>RBB</string>
		<key>programURL</key>
		<string>https://www.rbb-online.de/fernsehen/programm/#anchor_jetzt</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://delive.artestras.cshls.lldns.net/artestras/contrib/delive.m3u8</string>
		<key>title</key>
		<string>Arte</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=arte</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://zdf0910-lh.akamaihd.net/i/dach10_v1@392872/master.m3u8</string>
		<key>title</key>
		<string>3sat</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=3sat</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://zdf_hds_de-f.akamaihd.net/i/de09_v1@87012/master.m3u8</string>
		<key>title</key>
		<string>Phoenix</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=PHOENIX</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://zdf1314-lh.akamaihd.net/i/de13_v1@392877/master.m3u8</string>
		<key>title</key>
		<string>ZDF neo</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=ZDFneo</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://zdf1112-lh.akamaihd.net/i/de12_v1@392882/master.m3u8</string>
		<key>title</key>
		<string>ZDF info</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=ZDFinfo</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://zdf1112-lh.akamaihd.net/i/de11_v1@392881/master.m3u8</string>
		<key>title</key>
		<string>ZDF kultur</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=ZDF.kultur</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://wdr_fs_geo-lh.akamaihd.net/i/wdrfs_geogeblockt@112044/master.m3u8</string>
		<key>title</key>
		<string>WDR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=-28111</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://ndr_fs-lh.akamaihd.net/i/ndrfs_hh@119223/master.m3u8</string>
		<key>title</key>
		<string>NDR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=-28226</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://livestreams.br.de/i/bfsnord_germany@119898/master.m3u8</string>
		<key>title</key>
		<string>BR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=-28107</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://livestreams.br.de/i/bralpha_germany@119899/master.m3u8</string>
		<key>title</key>
		<string>BR alpha</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=28487</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://swrrp-lh.akamaihd.net/i/swrrp_live@196739/master.m3u8</string>
		<key>title</key>
		<string>SWR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=28113</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://live1_hr-lh.akamaihd.net/i/hr_fernsehen@75910/master.m3u8</string>
		<key>title</key>
		<string>HR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=28108</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://live2_sr-lh.akamaihd.net/i/sr_universal02@107595/master.m3u8</string>
		<key>title</key>
		<string>SR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=28486</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://www.metafilegenerator.de/DWelle/tv/ios/master.m3u8</string>
		<key>title</key>
		<string>DW</string>
		<key>programURL</key>
		<string>http://www.dw.com/de/programm/tv-programm/s-4765-9801</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://tagesschau-lh.akamaihd.net/i/tagesschau_1@119231/master.m3u8</string>
		<key>title</key>
		<string>Tagesschau24</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=28721</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://kika_geo-lh.akamaihd.net/i/livetvkika_de@75114/master.m3u8</string>
		<key>title</key>
		<string>KiKa</string>
		<key>programURL</key>
		<string>http://www.zdf.de/epg/programm-4100.html?action=filter&amp;senderToFilter=KI.KA</string>
	</dict>
	<dict>
		<key>streamURL</key>
		<string>http://mdr_sachsen_hls-lh.akamaihd.net/i/livetvmdrsachsen_de@106902/master.m3u8</string>
		<key>title</key>
		<string>MDR</string>
		<key>programURL</key>
		<string>http://programm.ard.de/programm/sender?sender=-28229</string>
	</dict>
</array>
</plist>
